@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

500;700;900&display=swap);
@charset "UTF-8";
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  background-color: #f5f5f5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 63.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select__title {
  color: inherit;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  padding: 0px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value:first-child {
  padding-right: 0;
}

.select__value:before {
  content: "";
  background: url("../img/icons/arrow-select.svg") center/contain no-repeat;
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-top: 0;
  padding: 10px 10px 5px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__item:not(:last-child) {
  margin-bottom: 1.5em;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs__navigation:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.tabs__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  min-width: 200px;
  text-align: center;
  padding: 0px 0px 15px 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.tabs__button_live span {
  position: relative;
}

.tabs__button_live span::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #62B58F;
  border-radius: 50%;
  right: -7px;
  top: -4px;
}

.tabs__button._tab-active {
  border-bottom: 4px solid #fff;
  font-weight: 700;
}

.tabs__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tabs__body {
  margin: 0px 0px -120px 0px;
  -webkit-filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
          filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  max-width: 846px;
}

.tabs__body_live {
  position: relative;
}

.tabs__body_live::before {
  content: "Live";
  position: absolute;
  background-color: #62B58F;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  padding: 3px 19px;
  border-radius: 50px;
  right: 4%;
  top: 6%;
}

.tabs__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=__btn] {
  display: inline-block;
  background-color: #F2726F;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #F2726F;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

[class*=__btn]:hover {
  background-color: #fff;
  color: #F2726F;
}

[class*=__subtitle] {
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 0px 33px;
  color: #5D62B5;
}

[class*=__subtitle]::before {
  content: url("../img/icons/subtitle-icon-purple.svg");
  position: absolute;
  top: -1px;
  left: 0;
}

[class*=__subtitle_white] {
  color: #f5f5f5;
}

[class*=__subtitle_white]::before {
  content: url("../img/icons/subtitle-icon-white.svg");
}

[class*=__title] {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
}

[class*=__title_white] {
  color: #fff;
}

[class*=__text] {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}

[class*=__text_white] {
  color: #f5f5f5;
}

[class*=__sub-link] {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.37;
  color: #F2726F;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

[class*=__sub-link]:hover {
  color: #5D62B5;
  text-decoration: underline;
}

.header {
  /* .header__container */
}

.menu-open .header {
  height: 100%;
}

.header._header-scroll .header-bottom {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  border-radius: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header._header-show .header-bottom {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 174px;
          flex: 0 1 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* .logo__icon */
  /* .logo__text */
}

.logo__text {
  font-size: 1.875rem;
  font-weight: 900;
  color: #fff;
  line-height: 1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* .header-top__inner */
  /* .header-top__item */
  /* .header-top__image-ibg */
  /* .header-top__box */
  /* .header-top__heading */
  /* .header-top__info */
  /* .header-top__btn */
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  row-gap: 20px;
}

.header-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
  /* .header-top__item_time */
  /* .header-top__item_call */
  /* .header-top__item_button */
}

.header-top__item:last-child {
  padding: 0px 0px 0px 0px;
}

.header-top__item p {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.15px;
  color: #fff;
}

.header-top__item_time {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-width: 210px;
}

.header-top__item_call {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-width: 135px;
}

.header-top__item_button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-width: 211px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header-top__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /* .header-top__image-ibg_contain */
}

.header-top__image-ibg:not(:last-child) {
  margin: 0px 12px 0px 0px;
}

.header-top__image-ibg_contain {
  padding-bottom: 20px;
}

.header-top__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.header-top__btn {
  width: 100%;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 40px;
  position: relative;
  z-index: 50;
  /* .header-bottom__menu */
  /* .header-bottom__buttons */
  /* .header-bottom__search-form */
  /* .header-bottom__input */
  /* .header-bottom__submit */
  /* .header-bottom__button */
}

.header-bottom__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom__search-form {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-bottom__search-form._form-visible {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
          filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.header-bottom__input {
  padding: 10px;
  min-width: 250px;
  border: 2px solid #29C3BE;
  border-radius: 10px;
}

.header-bottom__submit {
  background-color: #fff;
  padding: 10px;
  border: 2px solid #29C3BE;
  border-radius: 10px;
}

.header-bottom__button {
  /* .header-bottom__button_search */
  /* .header-bottom__button_cart */
}

.header-bottom__button:not(:last-child) {
  margin: 0px 22px 0px 0px;
}

.header-bottom__button_cart {
  position: relative;
}

.header-bottom__button_cart span {
  position: absolute;
  top: -7px;
  left: 14px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.15px;
  text-align: center;
  color: #fff;
  background-color: #F2726F;
  padding: 0 5px;
  border-radius: 20px;
}

.menu {
  /* .menu__icon */
  /* .menu__body */
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}

.menu__item:not(:last-child) {
  margin: 0px 37px 0px 0px;
}

.menu__item * {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.15px;
  color: #000;
}

.menu-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* .menu-select__item */
}

.icon-menu {
  display: none;
}

.no-webp .hero{
  background: url("../img/hero/bg.jpg") center/cover no-repeat; }

.hero {
  /* .hero__container */
  /* .hero__inner */
  /* .hero__title */
  /* .hero__btn */
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 1;
  max-width: 583px;
  color: #fff;
}

.hero__title:not(:last-child) {
  margin: 0px 0px 48px 0px;
}

.hero__btn {
  display: inline-block;
}

.who {
  /* .who__container */
  /* .who__body */
  /* .who__content */
  /* .who__subtitle */
  /* .who__title */
  /* .who__text */
  /* .who__image-ibg */
}

.who__body {
  background: #5D62B5 url("../img/who/who-blob.svg") 10% 110%/50% no-repeat;
  position: relative;
}

.who__body::after {
  content: "";
  position: absolute;
  background: url("../img/who/who-decor.svg") 100%/100% no-repeat;
  width: 20%;
  height: 50%;
  top: -109px;
  right: -76px;
}

.who__content {
  position: relative;
  z-index: 1;
}

.who__subtitle:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

.who__title {
  max-width: 583px;
}

.who__title:not(:last-child) {
  margin: 0px 0px 36px 0px;
}

.who__image {
  max-width: 877px;
  -webkit-filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
          filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.who__image img {
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0px 0px -120px 0px;
}

.promise {
  /* .promise__container */
  /* .promise__content */
  /* .promise__subtitle */
  /* .promise__title */
  /* .promise__inner */
  /* .promise__item */
}

.promise__subtitle:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

.promise__title:not(:last-child) {
  margin: 0px 0px 68px 0px;
}

.promise__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
  row-gap: 24px;
}

.promise__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 12px;
  min-width: 290px;
}

.item-promise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  /* .item-promise__image-ibg */
  /* .item-promise__content */
  /* .item-promise__sub-link */
  /* .item-promise__text */
}

.item-promise__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 63px;
          flex: 0 1 63px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-promise__content {
  padding: 4px 3px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.pup {
  background: #29C3BE url("../img/pup/decor-2.svg") -5% center/15% no-repeat;
  padding: 44px 0px 0px 0px;
  overflow: hidden;
  position: relative;
  /* .pup__container */
  /* .pup__inner */
  /* .pup__image-ibg */
  /* .pup__content */
  /* .pup__title */
  /* .pup__button */
  /* .pup__btn */
}

.pup::before {
  content: "";
  position: absolute;
  background: url("../img/pup/blob.svg") 0 0/contain no-repeat;
  width: 30%;
  height: 100%;
  left: -5%;
  bottom: 15%;
}

.pup__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.pup__inner::before {
  content: "";
  position: absolute;
  background: url("../img/pup/decor.svg") right center/100% 100% no-repeat;
  width: 100%;
  height: 100%;
  top: -44px;
  right: -33%;
  z-index: 0;
}

.no-webp .pup__inner::after{
  background: url("../img/pup/ball.png") center/contain no-repeat; }

.pup__inner::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 30%;
  top: 25%;
  right: -23%;
}

.pup__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 744px;
          flex: 0 0 744px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.pup__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pup__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 411px;
  position: relative;
}

.pup__title {
  /* .pup__title_white */
}

.pup__title:not(:last-child) {
  margin: 0px 0px 42px 0px;
}

.pup__btn {
  display: inline-block;
}

.services {
  position: relative;
  overflow: hidden;
  /* .services__container */
  /* .services__content */
  /* .services__top */
  /* .services__subtitle */
  /* .services__title */
  /* .services__inner */
  /* .services__item */
  /* .services__button */
  /* .services__btn */
}

.services::before {
  content: url("../img/services/blob.svg");
  position: absolute;
  top: -50%;
  right: 0;
}

.services__content {
  position: relative;
}

.services__subtitle:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -12px;
}

.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 290px;
  padding: 0 12px;
}

.services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-services {
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  /* .item-services__image-ibg */
  /* .item-services__content */
  /* .item-services__sub-link */
  /* .item-services__text */
}

.item-services__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  padding: 0px 63px 0px 0px;
}

.item-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.item-services__sub-link {
  text-align: center;
}

.item-services__text {
  text-align: center;
}

.no-webp .user-form{
  background: url("../img/form/bg.jpg") center/cover no-repeat; }

.user-form {
  padding: 130px 0 210px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* .user-form__container */
  /* .user-form__inner */
  /* .user-form__plate */
  /* .user-form__title */
  /* .user-form__form */
  /* .user-form__top */
  /* .user-form__item */
  /* .user-form__button */
  /* .user-form__btn */
  /* .user-form__content */
  /* .user-form__description */
  /* .user-form__number */
  /* .user-form__served */
}

.user-form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  row-gap: 30px;
}

.user-form__inner::before {
  content: "";
  position: absolute;
  background: url("../img/form/decor.svg") 0 0/contain no-repeat;
  width: 335px;
  height: 567px;
  left: -12%;
  bottom: -5%;
}

.user-form__inner::after {
  content: "";
  position: absolute;
  background: url("../img/form/blob.svg") 0 0/contain no-repeat;
  width: 649px;
  height: 706px;
  left: -15%;
  bottom: -20%;
}

.user-form__plate {
  background-color: #5D62B5;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 585px;
          flex: 0 1 585px;
  padding: 76px 57px;
  border-radius: 40px;
  position: relative;
  z-index: 2;
}

.user-form__title {
  text-align: center;
  /* .user-form__title_white */
}

.user-form__title:not(:last-child) {
  margin: 0px 0px 48px 0px;
}

.user-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -10px;
}

.user-form__top:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.user-form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 10px;
  min-width: 200px;
}

.user-form__button {
  text-align: right;
}

.user-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 340px;
          flex: 0 1 340px;
  padding: 0px 0px 0px 15px;
  color: #fff;
  font-weight: 900;
}

.user-form__description {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.user-form__number {
  line-height: 1;
}

.user-form__served {
  font-size: 19px;
  line-height: 1.37;
}

.item-form {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 15px 23px 15px;
  color: #fff;
  width: 100%;
}

.item-form::-webkit-input-placeholder {
  color: #fff;
}

.item-form::-moz-placeholder {
  color: #fff;
}

.item-form:-ms-input-placeholder {
  color: #fff;
}

.item-form::-ms-input-placeholder {
  color: #fff;
}

.item-form::placeholder {
  color: #fff;
}

.item-form_textarea {
  min-height: 180px;
}

.streams {
  /* .streams__container */
  /* .streams__inner */
  /* .streams__top */
  /* .streams__subtitle */
  /* .streams__title */
}

.streams__inner {
  position: relative;
  z-index: 2;
  margin: -80px 0px 0px 0px;
  background-color: #5D62B5;
  border-radius: 40px;
}

.streams__top:not(:last-child) {
  margin: 0px 0px 55px 0px;
}

.streams__subtitle:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

.customers {
  position: relative;
  /* .customers__container */
  /* .customers__inner */
  /* .customers__item */
}

.customers::before {
  content: "";
  position: absolute;
  background: url("../img/customers/blob.svg") 0 0 no-repeat;
  width: 649px;
  height: 1506px;
  left: 0;
  bottom: 0;
}

.customers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
  row-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.customers__item {
  min-width: 290px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 12px;
}

.item-customers {
  /* .item-customers__subtitle */
  /* .item-customers__title */
  /* .item-customers__text */
  /* .item-customers__bottom */
  /* .item-customers__image-ibg */
  /* .item-customers__name */
}

.item-customers_bg {
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.item-customers__subtitle:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

.item-customers__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-customers__text:not(:last-child) {
  margin: 0px 0px 18px 0px;
}

.item-customers__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-customers__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  padding: 0px 0px 48px 0px;
  border-radius: 50%;
}

.item-customers__image-ibg:not(:last-child) {
  margin: 0px 17px 0px 0px;
}

.item-customers__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #F2726F;
}

.impact {
  background: #29C3BE url("../img/impact/blob.svg") right top/contain no-repeat;
  /* .impact__container */
  /* .impact__top */
  /* .impact__title-box */
  /* .impact__subtitle */
  /* .impact__title */
  /* .impact__image-ibg */
  /* .impact__row */
  /* .impact__item */
  /* .impact__bottom */
  /* .impact__sub-text */
  /* .impact__button */
  /* .impact__btn */
}

.impact__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
}

.impact__title-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.impact__subtitle {
  /* .impact__subtitle_white */
}

.impact__subtitle:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

.impact__title {
  max-width: 411px;
  /* .impact__title_white */
}

.impact__image-ibg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 498px;
          flex: 1 1 498px;
  padding-bottom: 315px;
  margin: -80px 0px 0px 0px;
}

.impact__image-ibg img {
  border-radius: 40px;
}

.impact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.impact__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 12px;
  min-width: 220px;
  width: 100%;
}

.impact__bottom {
  background-color: #5D62B5;
  padding: 43px 70px 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-bottom: -72px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
}

.impact__sub-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 562px;
          flex: 1 1 562px;
}

.impact__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 210px;
          flex: 1 0 210px;
  text-align: right;
}

.item-impact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  /* .item-impact__image-ibg */
  /* .item-impact__content */
  /* .item-impact__number */
  /* .item-impact__description */
}

.item-impact__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76px;
          flex: 0 0 76px;
  padding: 0px 0px 76px 0px;
}

.item-impact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3px;
}

.item-impact__number {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  color: #fff;
}

.item-impact__description {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #5D62B5;
}

.footer {
  /* .footer__container */
}

.footer-top {
  padding: 160px 0px 100px 0px;
  /* .footer-top__inner */
  /* .footer-top__item */
  /* .footer-top__logo */
  /* .footer-top__text */
  /* .footer-top__socials */
  /* .footer-top__social */
  /* .footer-top__sub-text */
  /* .footer-top__links */
  /* .footer-top__link */
  /* .footer-top__placement */
  /* .footer-top__info */
}

.footer-top__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -10px;
}

.footer-top__item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 0 10px;
  /* .footer-top__item_first */
  /* .footer-top__item_second */
  /* .footer-top__item_third */
}

.footer-top__item_first {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
}

.footer-top__item_second {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.footer-top__item_third {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.footer-top__logo {
  max-width: 174px;
}

.footer-top__logo:not(:last-child) {
  margin: 0px 0px 23px 0px;
}

.footer-top__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-top__text:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

.footer-top__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__social {
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.footer-top__social:not(:last-child) {
  margin: 0px 18px 0px 0px;
}

.footer-top__sub-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  display: inline-block;
}

.footer-top__sub-text:not(:last-child) {
  margin: 0px 0px 28px 0px;
}

.footer-top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 11px;
}

.footer-top__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.footer-top__link a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer-top__info {
  padding: 0px 0px 0px 34px;
  position: relative;
}

.footer-top__info::before {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-top__info_place::before {
  content: url("../img/icons/footer/place-icon.svg");
}

.footer-top__info_phone::before {
  content: url("../img/icons/footer/phone-icon.svg");
}

.footer-top__info_email::before {
  content: url("../img/icons/footer/email-icon.svg");
}

.footer-top__info_time::before {
  content: url("../img/icons/footer/timer-icon.svg");
}

.footer-top__info:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.footer-top__info a {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer-bottom {
  background-color: #5D62B5;
  padding: 23px 19px;
  /* .footer-bottom__inner */
  /* .footer-bottom__text */
  /* .footer-bottom__policy */
  /* .footer-bottom__year */
  /* .footer-bottom__links */
  /* .footer-bottom__item */
  /* .footer-bottom__link */
}

.footer-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
  row-gap: 20px;
}

.footer-bottom__text {
  padding: 0 10px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  /* .footer-bottom__text_white */
}

.footer-bottom__policy {
  padding: 0 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__year {
  font-weight: 400;
  display: inline-block;
}

.footer-bottom__year:not(:last-child) {
  margin: 0px 5px 0px 0px;
}

.footer-bottom__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-bottom__item:not(:last-child) {
  position: relative;
  padding: 0px 7px 0px 0px;
  margin: 0px 7px 0px 0px;
}

.footer-bottom__item:not(:last-child)::after {
  position: absolute;
  content: "|";
  top: 0;
  right: 0;
}

@media (min-width: 47.99875em) {
  .header {
    padding: 26px 0px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .logo__icon:not(:last-child) {
    margin: 0px 11px 0px 0px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40px;
            flex: 0 1 40px;
  }

  .header-top:not(:last-child) {
    padding: 0px 0px 28px 0px;
  }

  .header-top__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }

  .who__body {
    border-radius: 40px;
  }

  .promise__title:not(:last-child) {
    margin-bottom: 4.25rem;
  }

  .item-services:hover {
    -webkit-filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
            filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  }

  .item-customers_bg {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .item-customers_bg:hover {
    -webkit-filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
            filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  }

  .footer-top__social:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }

  .footer-top__link a:hover {
    color: #F2726F;
    text-decoration: underline;
  }

  .footer-top__info a:hover {
    color: #F2726F;
    text-decoration: underline;
  }

  .footer-bottom__link:hover {
    text-decoration: underline;
  }
}

@media (min-width: 63.75em) {
  [class*=__title] {
    font-size: 2.25rem;
  }

  .hero__title {
    font-size: 3.5rem;
  }

  .who__body {
    padding-left: 5.4375rem;
  }

  .who__body {
    padding-right: 5.4375rem;
  }

  .who__body {
    padding-top: 6.25rem;
  }

  .who__body {
    margin-top: -5rem;
  }

  .who__text:not(:last-child) {
    margin-bottom: 3.375rem;
  }

  .promise {
    padding-top: 14.375rem;
  }

  .promise {
    padding-bottom: 7.625rem;
  }

  .pup__image {
    -ms-flex-preferred-size: 46.5rem;
        flex-basis: 46.5rem;
  }

  .services {
    padding-top: 6.875rem;
  }

  .services {
    padding-bottom: 6.875rem;
  }

  .services__top:not(:last-child) {
    margin-bottom: 4.875rem;
  }

  .services__inner:not(:last-child) {
    margin-bottom: 4.125rem;
  }

  .item-services {
    padding-top: 3.125rem;
  }

  .item-services {
    padding-bottom: 3.125rem;
  }

  .item-services {
    padding-left: 2.6875rem;
  }

  .item-services {
    padding-right: 2.6875rem;
  }

  .item-services__image-ibg:not(:last-child) {
    margin-bottom: 2.0625rem;
  }

  .user-form {
    padding-top: 8.125rem;
  }

  .user-form {
    padding-bottom: 13.125rem;
  }

  .user-form__plate {
    padding-top: 4.75rem;
  }

  .user-form__plate {
    padding-bottom: 4.75rem;
  }

  .user-form__plate {
    padding-left: 3.5625rem;
  }

  .user-form__plate {
    padding-right: 3.5625rem;
  }

  .user-form__content {
    row-gap: 2.875rem;
  }

  .user-form__number {
    font-size: 6rem;
  }

  .streams__inner {
    padding-top: 6.25rem;
  }

  .streams__inner {
    padding-right: 5.4375rem;
  }

  .streams__inner {
    padding-left: 5.4375rem;
  }

  .customers {
    padding-top: 15rem;
  }

  .customers {
    padding-bottom: 13.125rem;
  }

  .item-customers_bg {
    padding-top: 3.125rem;
  }

  .item-customers_bg {
    padding-bottom: 3.125rem;
  }

  .item-customers_bg {
    padding-left: 2.6875rem;
  }

  .item-customers_bg {
    padding-right: 2.6875rem;
  }

  .impact__top:not(:last-child) {
    margin-bottom: 4.9375rem;
  }

  .impact__row:not(:last-child) {
    margin-bottom: 3.9375rem;
  }

  .impact__bottom {
    padding-top: 2.6875rem;
  }

  .impact__bottom {
    padding-bottom: 2.875rem;
  }

  .impact__bottom {
    padding-left: 4.375rem;
  }

  .impact__bottom {
    padding-right: 4.375rem;
  }

  .impact__sub-text {
    font-size: 1.5rem;
  }

  .footer-top {
    padding-top: 10rem;
  }

  .footer-top {
    padding-bottom: 6.25rem;
  }
}

@media (min-width: 65.625em) {
  .hero {
    padding-top: 17.5rem;
  }

  .hero {
    padding-bottom: 19.5rem;
  }
}

@media (min-width: 68.75em) {
  .pup__image:not(:last-child) {
    margin: 0px 72px -3% -21%;
  }
}

@media (min-width: 71.875em) {
  .footer-bottom__inner {
    margin: 0 -5%;
  }
}

@media (max-width: 20em) {
  [class*=__title] {
    font-size: 1.5625rem;
  }

  .hero {
    padding-top: 10.625rem;
  }

  .hero {
    padding-bottom: 9.375rem;
  }

  .hero__title {
    font-size: 1.875rem;
  }

  .who__body {
    padding-left: 1.25rem;
  }

  .who__body {
    padding-right: 1.25rem;
  }

  .who__body {
    padding-top: 1.875rem;
  }

  .who__body {
    margin-top: 0rem;
  }

  .who__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .promise {
    padding-top: 11.25rem;
  }

  .promise {
    padding-bottom: 3.125rem;
  }

  .promise__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .pup__image {
    -ms-flex-preferred-size: 18.125rem;
        flex-basis: 18.125rem;
  }

  .services {
    padding-top: 1.875rem;
  }

  .services {
    padding-bottom: 1.875rem;
  }

  .services__top:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .services__inner:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .item-services {
    padding-top: 1.25rem;
  }

  .item-services {
    padding-bottom: 1.25rem;
  }

  .item-services {
    padding-left: 0.625rem;
  }

  .item-services {
    padding-right: 0.625rem;
  }

  .item-services__image-ibg:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .user-form {
    padding-top: 3.125rem;
  }

  .user-form {
    padding-bottom: 7.5rem;
  }

  .user-form__plate {
    padding-top: 1.875rem;
  }

  .user-form__plate {
    padding-bottom: 1.875rem;
  }

  .user-form__plate {
    padding-left: 0.9375rem;
  }

  .user-form__plate {
    padding-right: 0.9375rem;
  }

  .user-form__content {
    row-gap: 1.25rem;
  }

  .user-form__number {
    font-size: 4.375rem;
  }

  .streams__inner {
    padding-top: 3.125rem;
  }

  .streams__inner {
    padding-right: 1.25rem;
  }

  .streams__inner {
    padding-left: 1.25rem;
  }

  .customers {
    padding-top: 9.375rem;
  }

  .customers {
    padding-bottom: 8.125rem;
  }

  .item-customers_bg {
    padding-top: 1.25rem;
  }

  .item-customers_bg {
    padding-bottom: 1.25rem;
  }

  .item-customers_bg {
    padding-left: 0.625rem;
  }

  .item-customers_bg {
    padding-right: 0.625rem;
  }

  .impact__top:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .impact__row:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .impact__bottom {
    padding-top: 1.25rem;
  }

  .impact__bottom {
    padding-bottom: 1.25rem;
  }

  .impact__bottom {
    padding-left: 0.625rem;
  }

  .impact__bottom {
    padding-right: 0.625rem;
  }

  .impact__sub-text {
    font-size: 1.25rem;
  }

  .footer-top {
    padding-top: 7.5rem;
  }

  .footer-top {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 68.75em) {
  .pup__inner::before {
    right: 10%;
  }

  .pup__inner::after {
    top: 30%;
    right: 2%;
  }

  .pup__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .pup__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .impact__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .impact__title-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .impact__image-ibg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 100%;
    padding-bottom: 50%;
    -ms-flex-preferred-size: 315px;
        flex-basis: 315px;
  }
}

@media (max-width: 61.99875em) {
  .user-form__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .user-form__plate {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .user-form__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 56.25em) {
  .header-top__item_button {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header {
    position: fixed;
    z-index: 50;
    width: 100%;
  }

  .logo__icon {
    -ms-flex-preferred-size: 35px;
        flex-basis: 35px;
    height: 35px;
  }

  .logo__icon:not(:last-child) {
    margin: 0px 5px 0px 0px;
  }

  .logo__text {
    color: #000;
  }

  .header-top__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    background-color: #f5f5f5;
  }

  .header-top__item {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .header-top__item p {
    color: #000;
  }

  .header-bottom {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    border-radius: 0px;
  }

  .menu__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    -webkit-transform: translateY(-1000%);
        -ms-transform: translateY(-1000%);
            transform: translateY(-1000%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 60px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }

  .menu-open .menu__body {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    background-color: #f5f5f5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__item:not(:last-child) {
    margin: 0;
  }

  .menu__item * {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 50;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
    background-color: #F2726F;
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
    background-color: #F2726F;
  }

  .who__container {
    padding: 0;
  }

  .who__body::after {
    right: 0;
    top: -15%;
  }

  .item-promise {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .item-promise__content {
    row-gap: 10px;
  }

  .item-services__content {
    row-gap: 10px;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .logo__text {
    font-size: 1.25rem;
  }

  .header-bottom {
    padding-left: 0.9375rem;
  }

  .header-bottom {
    padding-right: 0.9375rem;
  }

  .header-bottom {
    padding-bottom: 0.625rem;
  }

  .header-bottom {
    padding-top: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 63.75em) {
  [class*=__title] {
    font-size: calc(1.5625rem + 0.6875 * (((100vw - 20rem)) / ((43.75))));
  }

  .hero__title {
    font-size: calc(1.875rem + 1.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .who__body {
    padding-left: calc(1.25rem + 4.1875 * (((100vw - 20rem)) / ((43.75))));
  }

  .who__body {
    padding-right: calc(1.25rem + 4.1875 * (((100vw - 20rem)) / ((43.75))));
  }

  .who__body {
    padding-top: calc(1.875rem + 4.375 * (((100vw - 20rem)) / ((43.75))));
  }

  .who__body {
    margin-top: calc(0rem + -5 * (((100vw - 20rem)) / ((43.75))));
  }

  .who__text:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.5 * (((100vw - 20rem)) / ((43.75))));
  }

  .promise {
    padding-top: calc(11.25rem + 3.125 * (((100vw - 20rem)) / ((43.75))));
  }

  .promise {
    padding-bottom: calc(3.125rem + 4.5 * (((100vw - 20rem)) / ((43.75))));
  }

  .pup__image {
    -ms-flex-preferred-size: calc(18.125rem + 28.375 * (((100vw - 20rem)) / ((43.75))));
        flex-basis: calc(18.125rem + 28.375 * (((100vw - 20rem)) / ((43.75))));
  }

  .services {
    padding-top: calc(1.875rem + 5 * (((100vw - 20rem)) / ((43.75))));
  }

  .services {
    padding-bottom: calc(1.875rem + 5 * (((100vw - 20rem)) / ((43.75))));
  }

  .services__top:not(:last-child) {
    margin-bottom: calc(1.25rem + 3.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .services__inner:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.25 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-services {
    padding-top: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-services {
    padding-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-services {
    padding-left: calc(0.625rem + 2.0625 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-services {
    padding-right: calc(0.625rem + 2.0625 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-services__image-ibg:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.4375 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form {
    padding-top: calc(3.125rem + 5 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form {
    padding-bottom: calc(7.5rem + 5.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form__plate {
    padding-top: calc(1.875rem + 2.875 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form__plate {
    padding-bottom: calc(1.875rem + 2.875 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form__plate {
    padding-left: calc(0.9375rem + 2.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form__plate {
    padding-right: calc(0.9375rem + 2.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form__content {
    row-gap: calc(1.25rem + 1.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .user-form__number {
    font-size: calc(4.375rem + 1.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .streams__inner {
    padding-top: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((43.75))));
  }

  .streams__inner {
    padding-right: calc(1.25rem + 4.1875 * (((100vw - 20rem)) / ((43.75))));
  }

  .streams__inner {
    padding-left: calc(1.25rem + 4.1875 * (((100vw - 20rem)) / ((43.75))));
  }

  .customers {
    padding-top: calc(9.375rem + 5.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .customers {
    padding-bottom: calc(8.125rem + 5 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-customers_bg {
    padding-top: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-customers_bg {
    padding-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-customers_bg {
    padding-left: calc(0.625rem + 2.0625 * (((100vw - 20rem)) / ((43.75))));
  }

  .item-customers_bg {
    padding-right: calc(0.625rem + 2.0625 * (((100vw - 20rem)) / ((43.75))));
  }

  .impact__top:not(:last-child) {
    margin-bottom: calc(1.875rem + 3.0625 * (((100vw - 20rem)) / ((43.75))));
  }

  .impact__row:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.0625 * (((100vw - 20rem)) / ((43.75))));
  }

  .impact__bottom {
    padding-top: calc(1.25rem + 1.4375 * (((100vw - 20rem)) / ((43.75))));
  }

  .impact__bottom {
    padding-bottom: calc(1.25rem + 1.625 * (((100vw - 20rem)) / ((43.75))));
  }

  .impact__bottom {
    padding-left: calc(0.625rem + 3.75 * (((100vw - 20rem)) / ((43.75))));
  }

  .impact__bottom {
    padding-right: calc(0.625rem + 3.75 * (((100vw - 20rem)) / ((43.75))));
  }

  .impact__sub-text {
    font-size: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((43.75))));
  }

  .footer-top {
    padding-top: calc(7.5rem + 2.5 * (((100vw - 20rem)) / ((43.75))));
  }

  .footer-top {
    padding-bottom: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((43.75))));
  }
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .logo__text {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .logo__text {
    font-size: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((27.99875))));
  }

  .header-bottom {
    padding-left: calc(0.9375rem + 1.5625 * (((100vw - 20rem)) / ((27.99875))));
  }

  .header-bottom {
    padding-right: calc(0.9375rem + 1.5625 * (((100vw - 20rem)) / ((27.99875))));
  }

  .header-bottom {
    padding-bottom: calc(0.625rem + 0.5 * (((100vw - 20rem)) / ((27.99875))));
  }

  .header-bottom {
    padding-top: calc(0.625rem + 0.5 * (((100vw - 20rem)) / ((27.99875))));
  }
}

@media (min-width: 20em) and (max-width: 65.625em) {
  .hero {
    padding-top: calc(10.625rem + 6.875 * (((100vw - 20rem)) / ((45.625))));
  }

  .hero {
    padding-bottom: calc(9.375rem + 10.125 * (((100vw - 20rem)) / ((45.625))));
  }
}

@media (min-width: 20em) and (max-width: 47.99875em) {
  .promise__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.375 * (((100vw - 20rem)) / ((27.99875))));
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

.webp .hero{ background: url(../img/hero/bg.webp) center/cover no-repeat; }

.webp .pup__inner::after{ background: url(../img/pup/ball.webp) center/contain no-repeat; }

.webp .user-form{ background: url(../img/form/bg.webp) center/cover no-repeat; }